body{
    background-image: linear-gradient(to right,red,yellow);
    text-align: center;
}
div{
    margin-top: 15px;
}
.image-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
    box-shadow: 5px 5px #540707;
}
img{
    width: 600px;
    height: 400px;
}
p{
    font-family: fantasy;
}